
*.zip
ResearchProject/.Rhistory
*.gz
ResearchProject/data/lithium_water_data/activityall.csv
ResearchProject/data/lithium_water_data/project.csv
ResearchProject/data/lithium_water_data/resdetectqntlmt.csv
ResearchProject/data/lithium_water_data/result.csv
ResearchProject/data/lithium_water_data/station.csv
ResearchProject/data/ipums_usa_data/usa_00005.csv
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.cpg
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.dbf
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.prj
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp.ea.iso.xml
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp.iso.xml
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp.xml
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shx
