
*.zip
ResearchProject/.Rhistory
*.gz
ResearchProject/data/lithium_water_data/activityall.csv
ResearchProject/data/lithium_water_data/project.csv
ResearchProject/data/lithium_water_data/resdetectqntlmt.csv
ResearchProject/data/lithium_water_data/result.csv
ResearchProject/data/lithium_water_data/station.csv
ResearchProject/data/ipums_usa_data/usa_00005.csv
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.cpg
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.dbf
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.prj
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp.ea.iso.xml
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp.iso.xml
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shp.xml
ResearchProject/data/tl_2017_us_county/tl_2017_us_county.shx
ResearchProject/data/ipums_usa_data/usa_00004.csv
ResearchProject/data/ipums_usa_data/usa_00003.csv
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.shx
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.shp.xml
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.shp
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.sbx
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.sbn
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.prj
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.dbf
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2010/ipums_puma_2010.CPG
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.shx
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.shp.xml
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.shp
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.sbx
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.sbn
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.prj
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.dbf
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000_tl10/ipums_puma_2000_tl10.CPG
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.shx
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.shp.xml
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.shp
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.sbx
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.sbn
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.prj
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.dbf
ResearchProject/data/ipums_usa_data/geographic/ipums_puma_2000/ipums_puma_2000.cpg
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.shx
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.shp.xml
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.shp
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.sbx
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.sbn
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.prj
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.dbf
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_pwpuma_2010/ipums_migpuma_pwpuma_2010.CPG
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.shx
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.shp.xml
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.shp
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.sbx
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.sbn
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.prj
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.dbf
ResearchProject/data/ipums_usa_data/geographic/ipums_migpuma_2000/ipums_migpuma_2000.CPG
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_WYOMING_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_WISCONSIN_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_WEST_VIRGINIA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_WASHINGTON_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_VIRGINIA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_VERMONT_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_UTAH_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_UNITED_STATES_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_TEXAS_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_TENNESSEE_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_SOUTH_DAKOTA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_SOUTH_CAROLINA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_RHODE_ISLAND_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_PENNSYLVANIA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_OREGON_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_OKLAHOMA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_OHIO_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NORTH_DAKOTA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NORTH_CAROLINA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NEW_YORK_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NEW_MEXICO_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NEW_JERSEY_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NEW_HAMPSHIRE_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NEVADA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_NEBRASKA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MONTANA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MISSOURI_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MISSISSIPPI_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MINNESOTA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MICHIGAN_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MASSACHUSETTS_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MARYLAND_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_MAINE_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_LOUISIANA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_KENTUCKY_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_KANSAS_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_IOWA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_INDIANA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ILLINOIS_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_IDAHO_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_HAWAII_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_GEORGIA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_FLORIDA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_DISTRICT_OF_COLUMBIA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_DELAWARE_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_CONNECTICUT_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_COLORADO_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_CALIFORNIA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ARKANSAS_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ARIZONA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ALASKA_Y2017M05D19.CSV
ResearchProject/data/county_suicide_data/IHME_USA_COUNTY_MORTALITY_RATES_1980_2014_ALABAMA_Y2017M05D19.CSV
ResearchProject/.RDataTmp
ResearchProject/data/lithium_water_data/interp_values.csv
ResearchProject/data/lithium_water_data/within100000_list.csv
ResearchProject/data/ipums_usa_data/usa_00011.csv
ResearchProject/data/ipums_usa_data/usa_00010.csv
ResearchProject/data/ipums_usa_data/usa_00009.xml
ResearchProject/data/ipums_usa_data/usa_00009.csv
ResearchProject/data/ipums_usa_data/usa_00009.cbk
ResearchProject/data/ipums_usa_data/usa_00008.csv
ResearchProject/data/ipums_usa_data/usa_00005.xml
ResearchProject/data/ipums_usa_data/usa_00005.cbk
